Pyrogram
TgCrypto
pytgcalls
python-dotenv
youtube_dl==2021.6.6
youtube-search-python
requests
aiohttp
aiofiles
asyncio
youtube_search
search_engine_parser
ffmpeg-python
pillow
python-arq
future
psutil
tswift 
wget
